html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Card */
.auth-card {
    position: relative;
    overflow: hidden;
    width: 900px;
    background: #fff;
    border-radius: 22px;
    box-shadow: 0 20px 40px rgba(24,62,119,.18);
    padding: 28px; /* keep padding */
    isolation: isolate; /* start a new stacking context */
}

    /* Put all inside content ABOVE the blue shape */
    .auth-card .card-body {
        position: relative;
        z-index: 1;
        padding-left: 55%;
        padding-right: 20px;
    }

    /* Blue rounded shape – move left and push BEHIND */
    .auth-card::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 46%;
        height: 110%;
        transform: translate(-22%, 6%); /* controls how much sticks out */
        background: linear-gradient(160deg, #2f7dde, #4aa0ff);
        border-radius: 26px;
        box-shadow: 0 10px 28px rgba(47,125,222,.45) inset;
        z-index: -1; /* <<< KEY: behind everything */
        pointer-events: none;
    }

@keyframes float {
    0%, 100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }
}